<div class="container mt-5">
  <div class="row">
    <section class="col-3">
      <ng-container *ngIf="types && brands">
      <h5 class="text-warning ml-3">Sort</h5>
      <select class="custom-select mb-3" #sortPrice (change)="sortByPrice(sortPrice.value)" >
          <option *ngFor="let price of sortOptions" [value]="price.value">{{price.name}}</option>
      </select>
      <h5 class="text-warning ml-3">Brands</h5>
      <ul class="list-group my-3">
        <li class="list-group-item" *ngFor="let brand of brands"
        [class.active]="brand.id === this.shopParams.brandId"
        [value]="brand.id"
        (click)="onBrandSelected(brand.id)" 
        >
        {{brand.name}}
      </li>

      </ul>
      <h5 class="text-warning ml-3">Types</h5>
      <ul class="list-group my-3">
        <li class="list-group-item" 
        [class.active]="type.id === this.shopParams.typeId"
        [value]="type.id"
        (click)="onTypeSelected(type.id)" *ngFor="let type of types">{{type.name}}</li>
      </ul>
    </ng-container>
    </section>

    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <ng-container *ngIf="products">
      <app-paging-header [pageNumber]="this.shopParams.pageNumber" [pageSize]="this.shopParams.pageSize" [totalCount]="this.totalCount"></app-paging-header>
        <div class="form-inline mt-2">
          <input type="text" class="form-control mr-2" (keyup.enter)="onSearch()" style="width: 300px" placeholder="Search" #search/>
          <button class="btn btn-outline-primary my-2" (click)="onSearch()">Search</button>
          <button class="btn btn-outline-success ml-2 my-2" (click)="onReset()">Reset</button>
        </div>
        </ng-container>
      </div>
      <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let item of products">
          <app-product-item [product]="item"></app-product-item>
        </div>
      </div>
      <app-pager [totalCount]="this.totalCount" [pageSize] = "this.shopParams.pageSize" (pageChanged)="onPageChanged($event)"></app-pager>
    </section>
  </div>
</div>
